[Interface]
Address = {{wgserver_ip}}
ListenPort = {{ endpoint.port | default(51820) }}
PrivateKey = {{wgserver_privkey}}
PostUp = echo 1 > /proc/sys/net/ipv4/ip_forward
PostUp = sysctl -p
PostUp = iptables -A FORWARD -i %i -j ACCEPT
PostUp = iptables -A FORWARD -o %i -j ACCEPT
PostUp = iptables -t nat -A POSTROUTING -s {{wgserver_subnet}} -o {{interface_name}} -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -s {{wgserver_subnet}} -o {{interface_name}}  -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT
PostDown = iptables -D FORWARD -o %i -j ACCEPT
